.wrapper

  .modal
    .avatar
    -# %h1 Eat More
    %h2 @#{ENV.fetch("TELEGRAM_BOT_USERNAME")}
    %p Eat More helps you eat more.
    %p Track your meals by simply sending a quick photo with an optional caption.
    %p The bot will remind you when you haven’t eaten in a while.

    = link_to "Add to Telegram", "https://t.me/#{ENV.fetch("TELEGRAM_BOT_USERNAME")}", class: "button"

    -# .credits
    -#   %p Made by #{link_to "Marc Köhlbrugge", "https://marckohlbrugge.com"}. I also made #{link_to "startup jobs", "https://startup.jobs"}, a #{link_to "community for makers", "https://wip.co"}, and a place to #{link_to "discover new startups", "https://betalist.com"}. Follow me #{link_to "on Twitter", "https://twitter.com/marckohlbrugge"} to see what else I'm making.

  .wip
    = link_to "https://wip.co/products/eatmore" do
      .text Follow on WIP
      .icon 🚧
